In [1]:
import pandas as pd

In [2]:
val=[[1,2,3,],[4,5,6]]

In [5]:
df=pd.DataFrame(val , dtype=float)

In [6]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

In [7]:
df.dtypes

0    float64
1    float64
2    float64
dtype: object

In [11]:
val=[[1,2,3,],[4,5,6]]
df=pd.DataFrame(val, index=['r0','r1'],columns=['c0','c1','c2'])
df

    c0  c1  c2
r0   1   2   3
r1   4   5   6

In [12]:
sr_age=pd.Series([23,31,49,60])
sr_gender=pd.Series(['M','F','F','M'])
sr_height=pd.Series([175,160,156,180])
sr_weight=pd.Series([65,40,48,85])

In [16]:
df_info=pd.DataFrame({
    'age':sr_age,
    'gender':sr_gender,
    'height':sr_height,
    'weight':sr_weight,
    
})
df_info

   age gender  height  weight
0   23      M     175      65
1   31      F     160      40
2   49      F     156      48
3   60      M     180      85